<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Fichero de configuración Log4NET -->
  <add key="Log4NetFile" value="Log4Net.config" />
  <!-- Nombre del Logger de Log4NET -->
  <add key="Log4NetLoggerName" value="com.mxply.net.Logging"/>

  <!-- Para poder depurar log4net en caso de no trazar, basta con activar o desactivar en nodo <log4net debug="true/false"> de (log4Net.config)-->
  <add key="log4net.Internal.Debug" value="true"/>

</appSettings>

